{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "endOfLine": "lf",
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": true,
  "xmlWhitespaceSensitivity": "ignore"
}
